<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Folders</h1>
    <a href="/folder/create/<%= userId %>">Create new folder</a>
 <% if (folders) { %>
    <ul>
      <% folders.forEach(folder => { %>
      <li>
        /<%= folder.name %> - <a href="/folder/edit/<%= folder.id %>">Edit</a> -
        <form action="/folder/delete/<%= folder.id %>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
