<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <ul>
        <li>
          <label for="file">Upload a file: </label>
          <input type="file" name="file" id="file" />
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
